*{
    margin:0;
    padding:0;
}
/*父元素背景颜色*/
#main{
    background:#F1F2ED;
    width:100%;
    /* height:1000px; */
    border:1px solid black;
    margin:0 auto;
    /* padding:0 100px; */
}
/* 第二层导航 */
.second_dh{
    height:100px;
    border-bottom:1px dashed #ccc;
    font-size:18px;
    display: flex;
    justify-content: space-between;
    margin-bottom:40px;
}
.l_shouye{
    line-height: 100px;
    margin-left:50px;
}
.l_shouye span{
    margin:0 5px;
}
/*右侧排序*/
.r_paixu{
     margin-right:200px;
     line-height: 50px; 
    /* border:1px solid black; */
    width:230px;
    height:50px;
    margin-top:25px;
    background:#fff;
}
.r_paixu span{
    margin-left:15px;
}

/*第三层大div*/
.three_div{
    width:1583px;
    display:flex;
    justify-content: space-around;
    margin:0 auto;
}
/*第三层左侧颜色*/
.left_color{
    width:450px;
    height:690px;
    border:1px solid black;
    padding:0 20px; 
   
}



/*第三层左侧尺码 颜色*/

 /* .left_color .dt{
    height:50px;
    line-height: 50px;
    font-weight: bolder;
    font-size:20px;
 } */
 


 /* .left_color .dt span{
   float:right;
 } */

 /* .left_color .dd{
     width:296px;
    height:450px;
    display:flex;
    flex-flow:wrap;
} */
 /* .left_color .dd  a{
     border:1px solid #d2d2d2;
     margin-right:20px;
     padding:10px 10px;
     color: #589BC6;
     font-size:15px;
 } */
/* .left_color .dd a:hover{
    color:red;
} */



/* .left_color dl{
    margin: 0 22px;
    border-bottom: 2px dotted #d2d2d2;
    font-size:20px;
  
}
.left_color dl span{
    float:right;
} */


/*第三层左侧菜单栏*/
li{
  list-style:none;
}
.open{
    border-top:1px dotted #666;
    border-bottom:1px dotted #666;
    font-size:20px;
    font-weight: bolder;
    margin:20px 0;
    padding:10px 0;
}
.open img{
    float:right;
    margin-top:8px;
    cursor: pointer;
}

.openFead{
   display:none;
}
.openFead.active{
    display:block;  
} 
/* 给.color 的ul加弹性布局*/
.tree li ul{
    display:flex;
    flex-flow:wrap;
}
.tree ul li{
    margin:19px 10px;   
}
.tree li ul li a{
    border:1px solid #d1d1d1;
    padding:10px 10px;
    color:#589BC6;
    font-weight: bolder;
}
.tree li ul li a:hover{
    color:red;
}










/* 第三层右侧鞋 */
.right_xie{
    width:1100px;
    padding:0 20px;
}
/* 右侧li的样式 */
   
.right_xie li{
    width:308px;
    height:450px;
    list-style:none; 
     margin:0 20px;
    
}
/* */
.right_xie .pic_items{
  width:300px;
  height:300px;
  position:relative; 
}
.right_xie .kuaisu{
    position: absolute;
    top: 240px;
    left: 50%;
    width: 180px;
    height: 50px;
    line-height: 50px;
    background: #c8192e;
    font-size: 16px;
    /* font-family: "Franklin-Roman","冬青黑体","microsoft yahei"; */
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: -5px 0 0 -80px;
     display: none;  
     z-index: 9; 
}
.right_xie .pic_items .pic_sm{
    width:100%;
    position:absolute;
    z-index:2;

}
/* 鼠标悬浮显示第二张图片以及购买框*/
.right_xie .pic_items .pic_md{
    width:100%;
    position:absolute;
     display:none;   
}
.right_xie .pic_items:hover .pic_md{
    display:block; 
    z-index: 3;
}
.right_xie .pic_items:hover a{
    display:block; 
}
.right_xie ul{
    /* width:1000px; */
    display:flex;
    flex-flow:wrap;
}
.right_xie  h5{
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
    font-weight: bolder;
}
.right_xie p{
    font-weight: bolder;
    text-align: center;
    margin-top:25px;
}


/* <div class="dd">
<span>黑色</span>
<span>灰色</span>
<span>白色</span>
<span>米黄色</span>
<span>黄色</span>
<span>卡其色</span>
<span>绿色</span>
<span>金色</span>
<span>银色</span>
<span>橙色</span>
<span>粉红色</span>
<span>红色</span>
<span>酒红色</span>
<span>咖啡色</span>
<span>蓝色</span>
<span>深蓝色</span>
<span>浅蓝色</span>
<span>紫色</span>
<span>肉色</span>
<span>其他</span>
<span>双色搭配</span>
<span>花色</span>
<span>棕色</span>
<span>土黄色</span>
   </div> */

