
/*第二层*/
/*设置第二层高度及背景颜色*/
.shopcar{
    width:100%;
    height:340px;
    background-color:#efefef;
    text-align:center;
    margin-top:-48px; 
}
/*设置"你可以查看更多..."字体大小及颜色*/
.text_small{
    font-size:14px;
    color:#666;
    position:relative;
}
/*设置为行内块*/
.my_look{
    display:block;
}
/*设置"选购商品"的样式*/
.my_look1{
    background-color:#C9192E;
    color:#fff;
    padding:10px 40px;
}
/*设置"查看订单"的样式*/
.my_look2{
    background-color:#000;
    color:#fff;
    padding:10px 40px;
}
/*设置"选购商品"悬浮后的背景颜色*/
.my_look1:hover{
    background-color:#000;
}
/*设置"抱歉..."字体大小*/
.shopcar .sorry_txt{
    margin-top:80px;
    font-size:30px;
    font-weight:bold;
}
/*设置黑方块样式*/
.shopcar .square{
     width:80px;
     height:80px;
     background-color:#000;
     transform: rotate(45deg);
     position:absolute;
     left:750px; 
}
/*设置“猜你喜欢”样式*/
.shopcar .like{
    color:#fff;
    margin:0 auto;
    margin-top:-30px;
    position:absolute;
    left:760px;
    top:522px;
}
/*设置方块上边距*/
.square_1{
    margin-top:65px;
}
/**/
.picture_1{
    width:100%;
}
 /*设置第二层ul li*/
 .foot_pic{
     display:flex;
     list-style:none;
     margin-top:30px;
 }
 .foot_pic li{
     width:300px;
     margin-bottom:15px;
     margin-left:20px;
 }
.foot_pic li img{
    width:100%;
}
/*设置悬浮颜色，字体*/
.foot_pic a{
    color: #64686b;
    font-weight:bold;
}
.foot_pic a:hover{
    color:#c8192e;
}
.foot_pic span{
    color:#c8192e;
    font-size:16px;
    font-weight:bold;
}













